.TodoCounter {
    color: #fff;
    font-size:14px;
    margin:0;

    font-weight:400;
    margin-bottom: 65px;
}
.TodoCounter span{
    font-weight:800;
    margin-right:30px;
}

.TodoCounter strong{
    font-weight:900;
}

.TodoCounter .completed{
    color: #11ffae;
}

.TodoCounter .completed svg{
    font-size: 11px;
}