body {
  margin: 0;
  padding: 0;
  background: #1e2229;
  background: linear-gradient(225deg, #2d323a 0%, #1e2229 100%);
  color: #fff;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

#root {
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  width: 400px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  position:relative;
  margin-bottom: 65px;
}

h1 svg {
  position: relative;
  margin-right: -8px;
  margin-bottom: -3px;
  font-size: 35px;
}

.search--container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (min-width: 768px) {
  #root {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  #root {
    width: 750px;
  }
}

@media screen and (min-width: 1366px) {
  #root {
    width: 700px;
  }
}

@media screen and (min-width: 1920px) {
  #root {
    width: 900px;
  }
}


